body {
    height: 100vh;
    background-image: linear-gradient(180deg, #ffffff,#f8c9f8 12%, #ecb5ec 40%, #ffb0ff);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Issue before was that I was using grid inside the flex box I think */
.ocean {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.fish {
    position: relative;
    z-index: 5; 
}

#daily-message {
    font-size: 2em;
    font-weight: bold;
    color: white; /* Directly set the color of the text */
    position: relative;
    overflow: hidden;
    animation: bubbly-text 5s ease-in-out forwards;
}

/* Keyframes for bubbly effect */
@keyframes bubbly-text {
    0% {
        clip-path: circle(0% at 50% 50%);
        color: transparent; /* Text starts transparent */
    }
    50% {
        color: white; /* Text becomes visible halfway */
    }
    100% {
        clip-path: circle(150% at 50% 50%);
    }
}

.search-bar {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 200;
    z-index: 5;
    width: 400px;
    height: 30px;
    background-color: pink;
    border-radius: 25px;
    border-color: None;
    border: 0;
    outline: none;
    padding: 10px
}

::placeholder{
    font-family: sans-serif, Arial, Helvetica;
    font-weight: 200;
    color: rgb(255, 255, 255);
}

.bubble {
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    bottom: -30px;
    opacity: 0.2;
    animation: bubble 15s ease-in-out infinite,
      sideWays 4s ease-in-out infinite alternate;
  }
  
  @keyframes bubble {
    0% {
      transform: translateY(0%);
      opacity: 0.06;
    }
    100% {
      transform: translateY(-120vh);
    }
  }

.bubble--1 {
    z-index: 1;
    left: 10%;
    animation-delay: 0.5s;
    animation-duration: 16s;
    opacity: 0.2;
}
  
.bubble--2 {
    z-index: 1;
    width: 15px;
    height: 15px;
    left: 40%;
    animation-delay: 1s;
    animation-duration: 10s;
    opacity: 0.1;
}
  
.bubble--3 {
    z-index: 1;
    width: 10px;
    height: 10px;
    left: 30%;
    animation-delay: 5s;
    animation-duration: 20s;
    opacity: 0.3;
}
  
.bubble--4 {
    z-index: 1;
    width: 25px;
    height: 25px;
    left: 40%;
    animation-delay: 8s;
    animation-duration: 17s;
    opacity: 0.2;
}
  
.bubble--5 {
    z-index: 1;
    width: 30px;
    height: 30px;
    left: 60%;
    animation-delay: 10s;
    animation-duration: 15s;
    opacity: 0.1;
}
  
.bubble--6 {
    z-index: 1;
    width: 10px;
    height: 10px;
    left: 80%;
    animation-delay: 3s;
    animation-duration: 30s;
    opacity: 0.4;
}
  
.bubble--7 {
    z-index: 1;
    width: 15px;
    height: 15px;
    left: 90%;
    animation-delay: -7s;
    animation-duration: 25s;
    opacity: 0.3;
}
  
.bubble--9 {
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 50%;
    bottom: 30px;
    animation-delay: -5s;
    animation-duration: 19s;
    opacity: 0.2;
}
  
.bubble--10 {
    z-index: 1;
    width: 40px;
    height: 40px;
    left: 30%;
    bottom: 30px;
    animation-delay: -21s;
    animation-duration: 16s;
    opacity: 0.3;
}
  
.bubble--11 {
    z-index: 1;
    width: 30px;
    height: 30px;
    left: 60%;
    bottom: 30px;
    animation-delay: -13.75s;
    animation-duration: 20s;
    opacity: 0.3;
}
  
.bubble--11 {
    z-index: 1;
    width: 25px;
    height: 25px;
    left: 90%;
    bottom: 30px;
    animation-delay: -10.5s;
    animation-duration: 19s;
    opacity: 0.3;
}
